<!DOCTYPE html>
<html>
    <head>
        <title>Transak - Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="sjx.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="nav-container">
                <div class="main-nav">
                    <h1>Transak</h1>
                    <ul class="list-nav">
                        <li class="nav-item" style="width: 100px;"><a>About</a></li>
                        <li class="nav-item" style="width: 120px;"><a>Contacts</a></li>
                        <li class="nav-item" style="width: 120px;"><a>Download</a></li>
                        <li class="nav-item" style="width: 100px;"><a>Help</a></li>
                        <li class="nav-item" style="width: 100px;"><a>FAQ</a></li>
                        <button>Get Started</button>
                    </ul>   
                </div>
            </div>
        </header>
        <div class="main-wrapper-body">
            <div class="body-container">
                <div class="body-content">
                    <div>
                        <button onclick="window.location.href=' register.html'">Get Started</button>
                        <h1 class="Cp1">Manage Your Business With Transak</h1>   
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
