<!DOCTYPE html>
<html>
    <header>
        <title>
            Transak - Register
        </title>
    </header>
<head>
    REGISTER
</head>
<body>
    <form method="post" style="display: flexbox;">
        <h3>EMAIL: </h3>
        <input id="email" name="email" type="text" style="padding: 2rem; font-size: 20px; display: flex;">
        <h3>PASSWORD: </h3>
        <input id="password" name="password" type="text" style="padding: 2rem; font-size: 20px; margin-top: 25px;">
        <input type="submit" value="Submit">
    </form>
</body>
</html>